scikit-build-core
pybind11
packaging>=24
typer
numpy>=1.26,<2
scipy
PyYAML
python-can>=4.3.1
tqdm
matplotlib
opencv-python-headless==4.9.0.80
pillow
h5py
jinja2
typeguard
websockets
websocket-client
json-numpy
msgpack-numpy
loguru
